<h3>Order #<%= @order.id %></h3>
<h4>Location: <%= @order.warehouse.name %></h4>
<table class="inventory-table">
  <tr>
      <th>Part Name</th>
      <th>Part Number</th>
      <th>Quantity Ordered</th>
      <th>Quantity Received</th>
      <th>Quantity to Receive</th>
      <th>Receive</th>
  </tr>
  <form class="receive_order" action="/inventories/update" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="entry[location]" value="<%= @order.warehouse.id %>">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <% @order.entries.each do |entry| %>
      <tr class="inventory-tr">
          <th class="inventory-th"><%= entry.part.name %></th>
          <th class="inventory-th"><%= entry.part.number %></th>
          <th class="inventory-th"><%= entry.ordered_quantity %></th>
          <th class="inventory-th"><%= entry.received_quantity %></th>

          <th class="inventory-th"><input type="text" name="entry[<%= entry.id %>][qty]" value="<%= entry.ordered_quantity - entry.received_quantity %>"></th>

          <th class="inventory-th"><input type="checkbox" name="entry[<%= entry.id %>][receive]" value="yes"></th>
      </tr>
    <% end %>
    <input type="submit" name="" value="Receive Order">
  </form>
</table>
