<%= form_for :entry, url: orders_path do |f| %>
  <label for="">Part Name:</label>
  <%= f.text_field :name %>
  <label for="">Part Number:</label>
  <%= f.text_field :number %>
  <label for="">Count:</label>
  <%= f.text_field :count %>
  <%= f.submit 'Submit Order' %>
<% end %>
