<!DOCTYPE html>
<html>
  <head>
    <title>RocketLabs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_employee %>
      Signed in as <%= current_employee.name %> | <%= link_to "Logout", '/logout' %>
    <% else %>
      <%= link_to 'Login', '/login' %>
    <% end %>
    <% flash.each do |name, msgs| -%>
      <div class="<%= name %> flash-box">
        <% msgs.each do |msg|%>
        <ul>
          <li><%= msg %></li>
        </ul>
        <% end %>
      </div>
    <% end -%>
    <%= yield %>
  </body>
</html>
