<!DOCTYPE html>
<html>
  <head>
    <title>RocketLabs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_employee %>
      Signed in as <%= current_employee.name %> | <%= link_to "Logout", '/logout' %>
    <% end %>
    
    <%= render "shared/flash" %>

    <%= yield %>
  </body>
</html>
