<!DOCTYPE html>
<html>
  <head>
    <title>RocketLabs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
        <div class="header">
          <h1>Rutherford Rocket Labs</h1>
        </div>
        <nav>
          <ul>
            <li><a href="#">request</a></li>
            <li><a href="#">receive</a></li>
            <li><a href="#">register</a></li>
            <% if current_employee %>
            <li>
            Signed in as <%= current_employee.name %> | <%= link_to "Logout", '/logout' %>
            </li>
            <% end %>
          </ul>
        </nav>
    </header>

    <%= render "shared/flash" %>

    <%= yield %>
  </body>
</html>
